[http]
	postBuffer = 524288000
[core]
	editor = subl -w
	excludesFile = ~/.gitignore
	pager =
[alias]
	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m "root" --allow-empty
	st = status --short --branch
	l = !git log --graph --abbrev-commit --decorate --all --format=format:"\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\""
	mm = branch -f main origin/main
[credential]
	helper = cache --timeout=604800
[branch]
	autosetuprebase = always
[pager]
	status = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = main
[http "https://github.com"]
	proxy = socks5h://localhost:7890
[help]
	format = html
